.message {
    margin: 0 0 20px;
    width: 100%;
    min-height: 13px;    
  }
  
  .message__text {
    visibility: visible;    
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FF3055;    
  }
  
  .message__text_type_success {
    color: #2be080;    
    }


