.about-project {
    padding: 110px 70px;
  }
  
  .about-project__header {
    border-bottom: 1px solid black;
    padding-bottom: 23px;
    font-style: normal;
    font-size: 22px;
    letter-spacing: -0.04em;
    line-height: 27px;
    font-weight: normal;
    margin: 0;
  }

  .about-project__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    margin-top: 70px;
    margin-bottom: 110px;
  }

  .about-project__title {
    margin: 0;
    font-size: 20px;
    letter-spacing: -0.04em;
    align-items: center;
    line-height: 24px;
    font-weight: normal;
    font-style: normal;    
  }

  .about-project__text {
    margin: 26px 0 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    font-style: normal;
  }
  
  .about-project__timetable {
    display: grid;
    grid-template-columns: 20% 80%;
    text-align: center;
    grid-template-rows: 36px auto;
    font-size: 14px;
    line-height: 17px;
    font-style: normal;
    font-weight: normal;
  }

  .about-project__one-week {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: #2BE080;
  }

  .about-project__four-week {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
  }
  
  .about-project__topic {
    margin: 14px 0 0;
    color: #a0a0a0;    
  }

  @media screen and (max-width: 769px) {
    .about-project {
      padding: 90px 50px;
    }

    .about-project__body {
        column-gap: 30px;
        margin-bottom: 93px;
    
    }

    .about-project__timetable {
        grid-template-columns: 21% 79%;
    }

    .about-project__text {
        font-size: 12px;
        line-height: 18px;
        margin-top: 22px;
      }
  }

  @media screen and (max-width: 584px) {
    .about-project {
      padding: 90px 30px;
    }
  }

  @media screen and (max-width: 374px) {
    .about-project {
      padding: 70px 18px;
    }

    .about-project__header {
      padding-bottom: 28px;
      font-size: 18px;
      line-height: 22px;
    }

    .about-project__body {
      margin-top: 60px;
      margin-bottom: 60px;
      row-gap: 56px;
      grid-template-columns: 100%;
      
    }
    
    .about-project__title {
      font-size: 18px;
      line-height: 22px;
      align-items: center;
    }

    .about-project__text {
      font-size: 11px;
      line-height: 16px;
      margin-top: 16px;
    }
  
    .about-project__timetable {
      grid-template-columns: 35% 65%;
      font-size: 11px;
      line-height: 13px;
    }

    .about-project__topic {
        margin: 10px 0 0;
      }
  }